---
import { Image } from "astro:assets";
import Cat1 from "@public/cat1.png"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={Cat1} id="about-image" alt="..." width={200} height={200}/>
	</body>
</html>
